<div class="col-md-3 col-md-offset-4">
    <h1>LOGIN情報入力</h1>
</div>


<br>
<%= render 'login_form' %>

<div class="form-group">
    <div class="col-md-3 col-md-offset-4">
        <%= button_to 'パスワード変更', change_pass_path, class: 'btn btn-default' %>
    </div>
</div>
