<table id="pw_hinme_table" class="table table-striped table-bordered table-hover" cellspacing="0">
	<!-- <table id="example" class="display" cellspacing="0"> -->
	    <thead>
	        <tr>
	            <th>コード</th>
	            <th>品目略名称</th>
	            <th>販売</th>
	            <th>購買</th>
	            <th>生産</th>
	            <th>最後使用日</th>
	        </tr>
	    </thead>

	    <tbody>
	    <% @pw_hin.each do |model| %>
	        <tr>
	            <td><%= model['品目コード'] %></td>
	            <td><%= model['品目略名称'] %></td>
	            <% if model['品目区分＿販売'] == '1' %>
		            <td style="text-align: center">◯</td>
	            <% else%>
		            <td></td>
	            <% end %>
	            <% if model['品目区分＿購買'] == '1' %>
		            <td style="text-align: center">◯</td>
	            <% else%>
		            <td></td>
	            <% end %>
	            <% if model['品目区分＿生産'] == '1' %>
		            <td style="text-align: center">◯</td>
	            <% else%>
		            <td></td>
	            <% end %>
	            <% if !model['最終使用日'].nil? %>
		            <!-- <td style="text-align: center"><%# model['最終使用日'][0..9].strftime("%Y/%m/%d") %></td> -->
		            <td style="text-align: center"><%= model['最終使用日'][0..9] %></td>
	            <%else %>
		            <td></td>
	            <% end %>
	        </tr>
      <% end %>
	    </tbody>
</table>	