<div class="modal fade" id="pw_hin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <div class="row">
          <!-- <form> -->
            <!-- <div class="form-group"> -->
              <div class="col-xs-2">
                <h4 class="modal-title text-left" id="myModalLabel">品目検索</h4>
              </div>
              <div class="col-xs-5 col-xs-offset-5">
                <!-- <label>　　　　</label>  -->
                <button type="submit" class="btn btn-default" id="pw_hinme_search">　検　索　</button>
                <input type="hidden" value=<%= @check_flag %> id="check_flag" >
                <button type="button" class="btn btn-default" id="hinme_search_ok">　Ｏ　Ｋ　</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">　閉じる　</button>
              </div>
            <!-- </div> -->
          <!-- </form> -->
        </div>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
      </div>

      <div class="modal-body">
        <%= render 'pw_hin_table' %>
      </div>

<!--       <div class="modal-footer">
      </div> 
 -->
    </div>
  </div>
</div>
