	<%= javascript_include_tag "lib/mb002.js" %>

	<ol class="breadcrumb">
    <li><%= link_to 'メニュー', controller: 'main001', action: 'index' %></li>    
    <li><a href="#">基準情報</a></li>
    <li><a href="#">セキュリティ管理</a></li>
    <li class="active">担当グループマスタ</li>
  </ol>          
  
	<div class="col-md-3 col-md-offset-9">
		<ul class="pagination">
			<!-- <li class="disabled"><a href="#">&laquo;</a></li>	   -->
			<li class="disabled"><span>&laquo;</span></li>		
		  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>	  
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
	<div>
		<!-- Table -->
		<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable">
			<thead>
				<tr>
					<th>担当グループコード</th>
					<th>担当グループ名称</th>
				</tr>
			</thead>
				
			<tbody>
				<tr>
					<td>1028</td>
					<td>テスト用</td>
				</tr>
				<tr>
					<td>1111</td>
					<td>administrator</td>
				</tr>
				<tr>
					<td>1234</td>
					<td>こんにちは</td>
				</tr>
			</tbody>
		</table>
		<!-- End table -->
	</div>

	<div id="jstree">
		<ul>
      <li id="root_node_1">Root node 1
        <ul>
          <li id="child_node_1">Child node 1</li>
          <li id="child_note_2">Child node 2</li>
        </ul>
      </li>
      <li id="root_node_2">Root node 2</li>
    </ul>
	</div>

	<button type="button" class="btn btn-default" id="jstree_bt">Collape All</button>
	<button type="button" class="btn btn-default" id="jstree_bt" onclick="$('#jstree').jstree('open_all');">Expand All</button>
