<%= title @page_title %>
<div class="page-header">
  <h3>パスワード編集</h3>
</div>

<form class="form-horizontal" action="edit" method="post" role="form">
  <div class="form-group">
    <label for="inputCode" class="col-sm-2 control-label">担当者コード</label>
    <div class="col-sm-3">
      <input type="text_field" class="form-control" id="tanntocode" name="tantocode" placeholder="担当者コード">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPass" class="col-sm-2 control-label">パスワード</label>
    <div class="col-sm-3">
      <input type="text_field" class="form-control" id="password" name="password" placeholder="パスワード">
    </div>
  </div>
  <div class="form-group">
    <label for="inputNewPass" class="col-sm-2 control-label">新パスワード</label>
    <div class="col-sm-3">
      <input type="text_field" class="form-control" id="newpassword" name="newpassword" placeholder="新パスワード">
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">新パスワード確認</label>
    <div class="col-sm-3">
      <input type="text_field" class="form-control" id="newpasswordconfirm" name="newpasswordconfirm" placeholder="新パスワード確認">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	    <% if @flag == true %>
				<p class="text-success"><%= @message %></p> 
			<% else %>
  			<p class="text-danger"><%= @message %></p> 
			<% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">更　新</button>
    </div>
  </div>
</form>
