<%= javascript_include_tag 'atop' %>
<%= javascript_include_tag 'resource/ja' %>

<div class="form-group">
  <div class="col-md-2">
      <input type='text' class="form-control" id="goto-date-input" name="goto-date-input" placeholder="2013/03/18" >
  </div>
  <button id="goto-date-button">Goto</button>
</div>

<div class="form-group">
  <div class="col-md-12">
    <div id="calendar"></div>
  </div>
</div>

