<%= javascript_include_tag 'atop' %>
<%= javascript_include_tag 'resource/ja' %>

<div class="form-group">
  <div class="col-md-4">
    <div class='input-group date' id='datetimepicker5' data-date-format="YYYY/MM/DD">
      <input type='text' class="form-control" id="goto-date-input" name="goto-date-input" placeholder="2012/01/17" >
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
            </span>
    </div>
  </div>
  <button id="goto-date-button">Goto</button>

</div>

<div id="calendar"></div>

